@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    width: 100% ;
     min-height: 100vh;   /* بدل height */
    overflow-x: hidden;
    background: #888888;
    scroll-behavior: smooth;
}


/*     Navbar Section     */
.navbar{
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #888888;
     z-index: 999;
}
.contianer{
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo{
    color: black;
    font-size: 2rem;
    font-weight:bolder;
}
.logo span{
    color: #ffffff;
    text-shadow:0 0 10px #ffffff;
}
.cancel, .humburg{
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none ;

}
.links,.contianer{
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.contianer .links div a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s linear;
}
.contianer .links div a:hover{
    color: #30141f;
    text-shadow:0 0 10px #30141f, 0 0 20px #fff;
}
.contianer .content-btn{
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s linear;
    border: 2px solid #30141f;
}
.contianer .links .content-btn a{
    color: white;
}
.contianer .links .content-btn a:hover{
    color: white;
}
.contianer .content-btn:hover{
    background-color: #30141f;
}
.dropdown{
    z-index:100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%)blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
    display: flex;
    flex-direction: column;
}

.dropdown .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px;
    
  color: rgba(204, 216, 191, 0.562);
}
.dropdown .links a{
    color: white;
    display: flex;
    text-decoration: none;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}
.dropdown .links a:hover{
    background-color: #30141f;
    color: white;
    width: 100%;
}


/*     Home Section     */
section{
    width: 100%;
    height: 100vh;
    display: flex;
    
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container img{
    z-index: 1;
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #30141f;
    box-shadow: 0 0 40px #30141f;
    transition: 0.3s linear;
}
.main-container img:hover{
  scale: 1.05;
  border: 5px solid #30141f;
    box-shadow:  0 0 30px #fff;
}


.main-container .content {
    color: white;
    width: 45%;
    max-width: 500px;
}
.content h1{
    font-size: clamp(1.5rem,2.5vw,3rem);
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.content h1 span{
    color: #30141f;
    text-shadow: 0 0 10px #30141f;
    font-size: x-large;
}
.content .typewriter{
    font-weight: 600;
    font-size: clamp(1.2rem,2vw,2.5rem);
    color: rgb(255, 255, 255);
}
.content .typewriter span{
    color: #30141f;
    font-size: 2.5rem; 
}
.typewriter span::before{
    content: ' Frontend Developer';
    animation: words 15s infinite;
    margin-left: 5px;
    color: #30141f;
}
@keyframes cursor{
    to{
        border-left: 3px solid #30141f;
    }
}
@keyframes words{
    0%,25%{
        content: 'Frontend Developer..';
    }
    26%,50%{
        content: 'Web Developer..';
    }
    51%,75%{
        content: 'Video Editor..';
    }
    76%,100%{
        content: 'Softwere Engineer..';
    }
}
.content p{
    margin: 10px 0px;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    font-weight: 400;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}
.social-links{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 20px;
}
.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 50%;
    border: 0.2rem solid #30141f;
    gap: 20px;
    margin-top: 15px;
    color: #30141f;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s linear;
}
.social-links i:hover{
    background-color: #30141f;
    color: white;
    box-shadow: 0 0 10px #30141f, 0 0 20px #fff;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s linear;
    border: 2px solid #30141f;
    background-color: #30141f;
    
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.content button:hover{
    box-shadow: 0 0 10px #30141f, 0 0 20px #fff;
    background-color: transparent;
    color: white;
}

/*     About Section     */
.about-container {
  padding: 50px 20px;
  text-align: center;
  background-color: #30141f;
  height: 100vh;
  padding-bottom: 20px;
}

 .about {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px #fff;
}

.about h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #888888;
text-shadow: 0 0 10px #888888;
}

.about p {
  font-size: 18px;
  margin-bottom: 15px;
}

.about a {
  color: #888888;
  text-decoration: none;
  font-weight: bold;
}

.about a:hover {
  text-decoration: underline;
}
strong{
    color: #888888;
    text-shadow: 0 0 10px #888888;
}

.skills {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
}
h2 {
  font-size: 28px;
  color: #888888;
  text-shadow: 0 0 10px #888888;
}

.skills li {
  margin-bottom: 8px;
  font-size: 16px;
}

/*   services Section   */



.services-container{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: auto;
    padding: 60px 20px;
}
.h1{
  text-align: center;
  color: #30141f;
  font-size: 2rem;
  margin-top: 50px;
  font-weight: bold;
  height: 10vh;
  
}
.h1 h1{
  color: #30141f;
  font-size: 2rem;
  text-shadow:0 0 10px #30141f;

}

.h1 h2{
  color: #30141f;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 10px;
  text-shadow:0 0 10px #30141f;
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding: 60px 10%;
  margin-top: 20px;
}

.service {
  background: #30141f;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 0px 10px #30141f;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.service:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.service h2 {
  font-size: 1.3rem;
  margin-bottom: 12px;
  color: #888888;
  text-shadow: 0 0 10px #888888;
}

.service p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #888888;
}













/* my work */
.my-works-container{
  padding: 50px 20px;
  text-align: center;
  color: #30141f;
  font-size: 1rem;
  margin-top: 50px;
  font-weight: bold;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex ;
  flex-direction: column;
  
  
}
.my-works-container h1{
  color: #30141f;
  font-size: 2rem;
  text-shadow:0 0 10px #30141f;

}
.my-works-container h2{
  color: #30141f;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 10px;
  text-shadow:0 0 10px #30141f;
}
.my-works-container p{
  color: #fff;
  font-size: 1rem;
  margin-top: 10px;
  text-shadow:0 0 10px #fff;
}
.my-works-container a{
  text-decoration: none;
  color: #30141f;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
  transition: 0.3s;
}
.my-works-container a:hover{
  text-decoration: underline;
  color: #888888;
  text-shadow:0 0 10px #888888;
}
.my-works-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 20px;
  padding: 20px;
}
.my-works-grid img{
  width: 100%;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 0 10px #30141f;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.my-works-grid h2{
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.my-works-grid img:hover ,.my-works-grid h2:hover{
  transform: translateY(-5px);
  box-shadow: 0 0 10px #888888;
}
.my-works-grid h2{
  color: #fff;
  font-size: 1.2rem;
  margin-top: 5px;
  text-shadow:0 0 10px #fff;
}
.my-work-card{
  margin-top: 15px;
}













/*   Skills Section   */
.skills-container {
  height: auto ;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  padding: 100px 50px ;
  background-color: #30141f;
  
}



.works-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 20px;
  padding: 20px
}

.skills-container h1 {
  font-size: 2rem;
  color: #888888;
  text-shadow: 0 0 10px #888888;
  margin-bottom: 20px;
  text-align: center;
}
.skills-container p {
  font-size: 1.2rem;
  color: #fff;
    margin-bottom: 40px;
    text-align: center;
  
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;

}

.skill-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px #fff;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px #fff;
}

.skill-card h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #888888;
}

.skill-card ul {
  list-style: none;
}

.skill-card ul li {
  margin-bottom: 10px;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
}

.skill-card ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #888888;
  font-weight: bold;
}






/*   Contact Section   */
.contact-container {
  padding: 30px 20px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
  
}

.contact-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #30141f;
    text-shadow: 0 0 10px #30141f;
}

.contact-container p {
  font-size: 1.2rem;
  margin-bottom: 40px;
    color: #fff;
    line-height: 1.6;
    text-shadow: 0 0 5px #fff;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.contact-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.contact-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
 
}
.contact-card.contact-card.whatsapp h2 {
  color: #25D366;
}
.contact-card.contact-card.email h2 {
  color: #ff5a5f;
}


.contact-card p a {
  color: #30141f;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.contact-card p a:hover {
  color: #888888;
  text-decoration: underline;
}

.contact-card h2 i {
  margin-right: 8px;
  color: #333;
}

.contact-card.whatsapp h2 i {
  color: #25D366; /* WhatsApp Green */
}

.contact-card.email h2 i {
  color: #ff5a5f; /* Red/Pink for email */
}





/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #30141f;
  color: #fff;
  margin-top: 40px;
  font-size: 0.9rem;
}



/*  Responsive Design */

@media (max-width: 768px) {
    .home{
        height: auto;
        margin-bottom: 20px;
        margin-top: 100px;
    }
    .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }
    .main-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .contianer .links{
        display: none;
    }   
    .humburg.cancel{
        display: block;
    }
    .cancel{
        color: white;
    }
    .cancel, .humburg{
    color: #fff;
    display: block;
    }



    /* Adjustments for Home Section */

    
    .main-container .content {
        width: 80%;
    }
    .social-links{
        font-size: 1.5rem;
    }
    .main-container .image{
        width: 80%;
        margin-bottom: 0;
    }
    .main-container .image img {
        width: 250px;
        height: 250px;
    }
    .content h1 {
        font-size: 1.8rem;
    }
    .content p {
        font-size: 1rem;
    }
    /* Adjustments for About Section */
    .about-container {
        margin-top: 50px;
        padding: 50px 20px;
        height: auto;
    }
    .about {
        padding: 20px;
        margin-top: 30px;
      margin-bottom: 50px;
    }
    .skills {
    text-align: center;
    }
     /* Adjustments for Services Section */
    .services-container {
     background-color: #fff;
    height: auto;
    padding: 50px 0px;
    }
    .skills-container{
        height: auto;
        padding: 70px  25px;
    }
    .contact-container {
        display: flex;
        justify-content: center;
        height: 100vh;
        margin:  auto;
        padding: 50px 20px;
    }

}






